.dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;

  .dropdown-selected {
    padding: 6px 10px;
    border: 1px solid #828282;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.dropdown-disabled {
      background: #ddd;
      color: #828282 !important;
    }
    .dropdown-placeholder {
      color: #828282;
    }
    .dropdown-value {
      color: #333333;
    }
    .dropdown-icon::after {
      content: "\f0dd";
      font: normal normal normal 17px/1 FontAwesome;
      color: #828282;
      left: 11px;
      height: 34px;
      position: absolute;
    }
    .dropdown-icon-toggle::after {
      content: "\f0de";
      font: normal normal normal 17px/1 FontAwesome;
      color: #828282;
      left: 11px;
      bottom: -10px;
      height: 34px;
      position: absolute;
    }
  }
  .dropdown-items {
    display: none;
    position: absolute;
    top: 100%;
    background: #fff;
    right: 0;
    z-index: 999;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

    &.dropdown-items-active {
      display: inline-block;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 5px 10px;
        cursor: pointer;
        &:last-child {
          border: none;
        }
      }
    }
  }
}
