.button {
  width: 91px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.button--primary {
  color: white;
  background-color: var(--primary-color);
}
.button--secondary {
  color: var(--secondary-color);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
