:root {
  --background-color: #f4f3f3;
  --body-color: #333333;
  --primary-color: #625199;
  --secondary-color: #04724d;
  --on-color: #ffffff;
  --secondary-light-color: #e6f1ed;
  --alert-information-color: #008cff;
  --link-color: #0645ad;
  --opacity-color: rgba(0, 0, 0, 0.5);
  --red-color: #890404;
  --red-light-color: #fadede;
  --gray2: #4f4f4f;
  --gray3: #828282;
}
